<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
    <h1>Your Cart</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Manufacturer</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.product.title}"></td>
                <td th:text="${item.product.manufacturer}"></td>
                <td th:text="${item.product.price}"></td>
                <td th:text="${item.quantity}"></td>
            </tr>
        </tbody>
    </table>
    <h3>Total Price: <span th:text="${totalPrice}"></span></h3>
    
    <form th:action="@{/cart}" method="post">
        <div>
            <label for="discountCode">Discount Code:</label>
            <input type="text" id="discountCode" name="discountCode" placeholder="Enter discount code">
        </div>
        <button type="submit">Apply Discount Code</button>
    </form>
    
    <h2>Payment Details</h2>
    <form>
        <div>
            <label for="cardName">Name on Card:</label>
            <input type="text" id="cardName" placeholder="Enter the name on card" required>
        </div>
        <div>
            <label for="cardNumber">Card Number:</label>
            <input type="text" id="cardNumber" placeholder="Enter the card number" required>
        </div>
        <div>
            <label for="cardExpiry">Expiry Date:</label>
            <input type="month" id="cardExpiry" placeholder="Enter the card number" required>
        </div>
        <div>
            <label for="cardCVV">CVV:</label>
            <input type="text" id="cardCVV" placeholder="Enter the CVV" required>
        </div>
        <button type="submit" formaction="/checkout">Checkout</button>
    </form>
</body>
</html>
